body {
    height: 100vh;
}

div#side_panel {
    width: 10vh;
    z-index: 2000;
}

div.page_container {
    min-width: 100%;
    height: 100vh;
}

div#projects {
    height: 150vh
}

div.project {
    height: 30%;
}

div.carousel {
    display: flex;
    align-items: center;
    width: 40%;
    min-width: 275px;
}

div.carousel_item {
    width: 100%;
}

img.carousel_image {
    width: 100%;
}

div.feature_container {
    min-width: 100%;
    height: 25vh;
}

div.contact_link {
    height: 7vh;
    width: 7vh;
    padding-right: 1vh;
    padding-top: 3px;
    border-radius: 0 1vh 1vh 0;
    background-color: white;
    text-align: right;
    transform: rotate(0);

    /* Transitions */
    transition: 0.1s ease-out;
}

div.contact_link:hover {
    width: 18vh;
}

p.contact_link_name {
    font-size: 2vh;
    display: none;
    /* display: inline-block; */
}

img.logo {
    max-height: 6vh;
}

@media only screen and (max-width: 750px){
    div.carousel {
        width: 100%;
    }
}
